<!-- <div class="app-container">
    <div>
       <div class="logo"></div>
       <h1>Bucket RX</h1>  
    </div>
   
    <hr/>
    <div class="components-container">
        <app-grocery></app-grocery>
        <app-bucket></app-bucket>
    </div>
</div> -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <h3>
            <b>
                NGRX Exercise
            </b>
        </h3>
    </div>
</nav>

<div class="container mt-4">
    <a routerLink="/project" class="btn btn-outline-primary me-3">Project</a>
    <a routerLink="/task" class="btn btn-outline-success me-3">Task</a>
    <a routerLink="/user" class="btn btn-outline-warning me-3">User</a>
</div>

<router-outlet></router-outlet>>