<!-- <div class="app-container">
    <div>
       <div class="logo"></div>
       <h1>Bucket RX</h1>  
    </div>
   
    <hr/>
    <div class="components-container">
        <app-grocery></app-grocery>
        <app-bucket></app-bucket>
    </div>
</div> -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <h3>
            <b>
                NGRX Exercise
            </b>
        </h3>
    </div>
</nav>

<div class="container mt-4">
    <button type="button" class="btn btn-outline-primary me-5">Project</button>
    <button type="button" class="btn btn-outline-success me-5">Task</button>
    <button type="button" class="btn btn-outline-warning me-5">User</button>
</div>

<app-user></app-user>
<app-project></app-project>
<app-task></app-task>